body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #555555;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 20px;
}

.main-content h1 {
    font-size: 24px;
}

.main-content p {
    font-size: 18px;
}

#calculo > input{
    width: 50px;
}

.hidden{
    display: none;
}

/* ******** CALCULO CIL ********* */
.calculo-suporte-container{
    background-color: white;
}

.calculo-suporte-container > h1{
    text-align: center;
}

.suporte-content{
    display: flex;
}

.calculo-suporte{
    width: 50%;
    text-align: left;
}

.tabela-calculo{
    margin: 0;
    width: 100%;
    text-align: center;
    border-spacing: 15px 5px;
}

#tabCalc-th{
    width: 100px;
}

#qtdCil8m, #qtdCil4m, #qtdCil1m, #tabCalc-td, #tc-litragem, #litragem, #resultado-suporte, #qtd-inalacoes, #qtd-aspiracoes{
    text-align: center;
    border-radius: 10px;
    width: 50px;
}

#ina-asp{
    text-align: center;
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

#container-litragem{
    text-align: center;
    margin-top: 3%;
}

#litragem{
    margin-left: 2%;
}

.txt-lbl{
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.resultado-calculo{
    text-align: center;
}

#btn-calcular-suporte{
    margin: 5% 0 5% 0;
    border-radius: 7px;
    border: none;
    font-size: 24px;
}

#btn-calcular-suporte:hover{
    background-color: rgb(92, 158, 245);
}

#resultado-suporte{
    width: 35%;
    font-size: 20px;
    text-align: center;
}

.img_email{
    width: 50%;
    border: 1px solid blue;
}
